.contenedor-principal {
    overflow-y: auto;
    background: linear-gradient(270deg,
            rgba(255, 110, 196, 0.3),

            rgba(120, 115, 245, 0.3),

            rgba(74, 222, 222, 0.3),

            rgba(74, 222, 112, 0.3));
    background-size: 800% 800%;
    animation: fondoGradient 8s ease infinite;

}

.titulo {
    font-size: 8vw;
    font-weight: bold;
    position: relative;
    text-shadow:
        -2px -2px 0 #ff6ec4,

        2px -2px 0 #7873f5,

        -2px 2px 0 #4ADEDE,

        2px 2px 0 #4ADE70;

}

@keyframes fondoGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media (min-width: 768px) {
    .titulo {
        font-size: 8vw;

    }

    .subtitulo {
        font-size: 3vw;

    }
}


.subtitulo {
    font-size: 5vw;
    font-weight: bold;
    color: #403738;
}

.card-foto {
    width: 90vw;
    max-width: 25rem;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: .5rem;
}

.foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

@keyframes upDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.flecha {
    animation: upDown 2s ease-in-out infinite;
}

.contenedor-secundario {
    background-color: #000;
}

@media (min-width: 992px) {
    .video-ajustado {
        width: 50%;
    }
}

@media (max-width: 991.98px) {
    .video-ajustado {
        width: 100%;
    }
}